---
// @ts-nocheck
import { ViewTransitions } from 'astro:transitions'

const { title, description, author } = Astro.props

let subtitle = 'Accessible Astro Starter'
---

<!-- general meta -->
<meta name="title" content={`${title} - ${subtitle}`} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- page title -->
<title>{title} - {subtitle}</title>

<ViewTransitions />
